img {
    border: 5px solid black;
}

.patsinfo {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: lightslategray;
}

.Gillette {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em 1.5em;
    margin-bottom: 10px;
    background-color: lightslategray;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'calibri';
}

h2 {
    font-weight: bold;
    font-family: 'calibri';
}

.Logos {
    flex: 1;
    padding: 1em 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightslategray;
}

.Directions{
    flex: 1;
    padding: 1em 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightslategray;
}

.twoinone {
    display: flex;
    width: 100%;
    gap: 5px;
}

.coach {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: lightslategray; 
}

.roster {
    flex: 1;
}

.offense {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: lightslategray; 
}

.defense {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em 1.5em;
    margin-bottom: 10px;
    margin-top: 10px; 
    background-color: lightslategray;     
}

p { 
    text-align: center;
    font-family: 'sans-serif'
}

.navbar{
    overflow: hidden;
    background-color: #333;
    font-family: 'calibri';
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
}

.drop-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .drop-content {
    display: block;
}

@media print{
  body{
    background-color: white;
    color: black;
  }

  .navbar{
    display: none;
  }

  p{
    color:black;
  }

  h1{
    color: black;
  }

  h3{
    color: black;
  }
}